[submodule "external/libalgebra_lite"]
	path = external/libalgebra_lite
	url = https://github.com/datasig-ac-uk/libalgebra-lite
	branch = main
	update = merge
[submodule "external/recombine"]
	path = external/recombine
	url = https://github.com/datasig-ac-uk/Recombine.git
	update = merge
[submodule "external/libalgebra"]
	path = external/libalgebra
	url = https://github.com/terrylyons/libalgebra
	branch = develop
	update = merge
